<div class="container">
  <h1>Add a New Restaurant</h1>

  <div class="form-container">
    <%= simple_form_for @restaurant do |f| %>
      <div class="form-input">
        <%= f.input :name, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-input">
        <%= f.input :address, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-input">
        <%= f.input :phone_number, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-input">
        <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"],
                   input_html: { class: 'form-control' } %>
      </div>
      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>

  <%= link_to "Back to all restaurants", restaurants_path, class: "btn-secondary" %>
</div>
