<div class="container">
  <h1>About <%= @restaurant.name %> </h1>

    <div class="restaurant-card">
    <div class="restaurant-name"><%= @restaurant.name %></div>
    <div class="restaurant-category"><%= @restaurant.category.capitalize %></div>
    <div class="restaurant-address"><%= @restaurant.address %></div>
    <div class="restaurant-phone"><%= @restaurant.phone_number %></div>
  </div>

  <div class="edit-section">
    <h2>Edit Details</h2>

    <div class="form-container">
      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
        <%= f.button :submit, "Update Restaurant", class: "btn-primary" %>
      <% end %>
    </div>
  </div>
    <%= link_to "See all restaurants", restaurants_path, class: "btn-primary" %>


  </div></div>
